@model ClientSupplierMapper.Models.ClientSupplierMap

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClientSupplierMap</legend>

    <div class="display-label">Client</div>
    <div class="display-field">@(Model.Client == null ? "None" : Model.Client.Name)</div>

    <div class="display-label">Supplier</div>
    <div class="display-field">@(Model.Supplier == null ? "None" : Model.Supplier.Name)</div>

    <div class="display-label">Product</div>
    <div class="display-field">@(Model.Product == null ? "None" : Model.Product.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


