@model ClientSupplierMapper.Models.ClientSupplierMap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ClientSupplierMap</legend>

    <div class="display-label">Client</div>
    <div class="display-field">@(Model.Client == null ? "None" : Model.Client.Name)</div>

    <div class="display-label">Supplier</div>
    <div class="display-field">@(Model.Supplier == null ? "None" : Model.Supplier.Name)</div>

    <div class="display-label">Product</div>
    <div class="display-field">@(Model.Product == null ? "None" : Model.Product.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


